<h1><%= @list.title %></h1>
<h3><%= @list.description %></h3>
<%= link_to "Create Task", new_list_task_path(@list.id), method: :get %>
<table id="myTable" class="tablesorter">
  <thead>
    <tr class="spacer">
      <th id="">Image</th>
      <th id="">Task</th>
      <th id="">Description</th>
      <th id="">Due Date</th>
      <th id="">Completed</th>
      <th id="">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr class="search-item">
        <td id=""><img src="<%= task.image %>" alt="" height="42" width="42"/></td>
        <td id=""><%= task.title %></td>
        <td id=""><%= task.description %></td>
        <td id=""><%= task.due_date %></td>
        <td id="">
          <%= check_box("task", task.id, { checked: task.status, class: "task-check" }) %> </a></td>
        <td id=""><a href="#"><%= button_to "Edit Task", edit_list_task_path(@list.id, task), method: :get %></a></td>
      <script type="text/javascript">
      $(".task-check").on('change', function(){
      if (this.checked){
        $.ajax({
          url: '/lists/'+ <%= @list.id %> +'/tasks/'+ <%= task.id %> +'/toggle',
          type: 'POST',
          data: {"status": "true"}
        });
      }
      else {
        $.ajax({
          url: '/lists/'+<%= @list.id %>+'/tasks/'+ <%= task.id %> +'/toggle',
          type: 'POST',
          data: {"status": "false"}
        });
      }
      });
      </script>
      </tr>
    <% end %>
  </tbody>
</table>
<% if params[:status] && params[:status] == "true" %>
  <%= link_to "Back", list_path(@list.id) %>
<% else %>
  <%= link_to 'Completed Tasks', list_path(@list.id, status: true) %>
<% end %>
