<h1>Edit Task</h1>
<%= form_for @task, url: list_task_path do |f| %>
  <%= f.text_field :title, placeholder: @task.title%>
  <%= f.text_field :description, placeholder: @task.description%>
  <%= f.date_field :due_date, placeholder: @task.due_date%>
  <%= f.hidden_field :task_list, value: @task.id %>
  <%= f.submit "Edit Task" %>
<% end %>
